[Unit]
Description=STFU Service
# Description=Place this file in /lib/systemd/system
# Description=N4IRS 10/07/2020

After=netcheck.service
Requires=netcheck.service

[Service]
Type=simple
Restart=on-failure
RestartSec=3
RestartPreventExitStatus=254 253 251 
StandardOutput=null
WorkingDirectory=/opt/STFU
Environment=STFU_LOG=/var/log/dvswitch
ExecStartPre = /bin/sh -c 'echo "Starting STFU: [`date +%%T.%%3N`]" >> /var/log/netcheck'
ExecStart=/opt/STFU/STFU /opt/MMDVM_Bridge/DVSwitch.ini
# ExecStartPost= -/usr/local/sbin/update-config.sh
ExecReload=/bin/kill -2 $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target


# 254 Fatal error
# 253 ini parse errors

# ERROR_SUCCESS               0       // ALL
# ERROR_PORT_IN_USE           251     // STFU
# ERROR_DV3000_NOT_FOUND      252     // AB
# ERROR_INI_PARSE             253     // AB, MB, STFU
# ERROR_MATCHING_IDS          254     // AB
# ERROR_FATAL_ERROR           254     // MB, STFU
# ERROR_SERVER_TIMEOUT        255     // STFU
